<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsn.cow.mapper.SensorDataMapper">

    <resultMap id="BaseResultMap" type="com.wsn.cow.entity.SensorData">
        <id column="id" property="id"/>
        <result column="node_id" property="nodeId"/>
        <result column="temperature" property="temperature"/>
        <result column="humidity" property="humidity"/>
        <result column="nh3_concentration" property="nh3Concentration"/>
        <result column="h2s_concentration" property="h2sConcentration"/>
        <result column="collect_time" property="collectTime"/>
        <result column="create_time" property="receiveTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.wsn.cow.entity.SensorData" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sensor_data (node_id, temperature, humidity, nh3_concentration, h2s_concentration, collect_time)
        VALUES (#{nodeId}, #{temperature}, #{humidity}, #{nh3Concentration}, #{h2sConcentration}, #{collectTime})
    </insert>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO sensor_data (node_id, temperature, humidity, nh3_concentration, h2s_concentration, collect_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.nodeId}, #{item.temperature}, #{item.humidity}, #{item.nh3Concentration}, #{item.h2sConcentration}, #{item.collectTime})
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM sensor_data WHERE id = #{id}
    </select>

    <select id="selectLatestByNodeId" resultMap="BaseResultMap">
        SELECT * FROM sensor_data 
        WHERE node_id = #{nodeId}
        ORDER BY collect_time DESC
        LIMIT 1
    </select>

    <select id="selectByNodeIdAndTime" resultMap="BaseResultMap">
        SELECT * FROM sensor_data
        WHERE node_id = #{nodeId}
        <if test="startTime != null">
            AND collect_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND collect_time &lt;= #{endTime}
        </if>
        ORDER BY collect_time DESC
    </select>

    <select id="selectPage" resultMap="BaseResultMap">
        SELECT * FROM sensor_data
        WHERE 1=1
        <if test="nodeId != null and nodeId != ''">
            AND node_id = #{nodeId}
        </if>
        <if test="startTime != null">
            AND collect_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND collect_time &lt;= #{endTime}
        </if>
        ORDER BY collect_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countByCondition" resultType="int">
        SELECT COUNT(*) FROM sensor_data
        WHERE 1=1
        <if test="nodeId != null and nodeId != ''">
            AND node_id = #{nodeId}
        </if>
        <if test="startTime != null">
            AND collect_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND collect_time &lt;= #{endTime}
        </if>
    </select>

    <delete id="deleteBeforeTime">
        DELETE FROM sensor_data WHERE collect_time &lt; #{time}
    </delete>

    <select id="selectLatestByAllNodes" resultMap="BaseResultMap">
        SELECT sd.* FROM sensor_data sd
        INNER JOIN (
            SELECT node_id, MAX(collect_time) as max_time
            FROM sensor_data
            GROUP BY node_id
        ) latest ON sd.node_id = latest.node_id AND sd.collect_time = latest.max_time
        ORDER BY sd.node_id
    </select>

    <select id="selectLatestByNode" resultMap="BaseResultMap">
        SELECT * FROM sensor_data
        WHERE node_id = #{nodeId}
        ORDER BY collect_time DESC
        LIMIT 1
    </select>

</mapper>
